@import "normalize";
@import "grid";
$TheFirstMainColorBlue: #52c8ff;
$TheSecondMainColor: #aca5ff;


@mixin centerer {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
}


.main-wrapper{
  margin: auto;
  width: 1000px;
}

div.block-outer{
  display: inline-block;
  float: left;
  width: 100px;
  height: 100px;
  margin-left: 5%;
  background: $TheFirstMainColorBlue;
  .block-inner{
    @extend .block-outer;
    transform:rotate(45deg);
  }
}
.logo{
  @include centerer();
  transform:rotate(-45deg);
}
.text-logo{
  padding-top: 3%;
  width: 70%;
  margin: auto;
  font-size: 2.7em;
  display: inline-block;
    text-align: right;
}


.main-table{
  margin-top: 10%;
  width: 30%;
  border: 1px solid black;
  height: 100%;
}
ul{
  background: $TheFirstMainColorBlue;
  display: inline-block;
  padding: 0;
  width: 100%;

}
li{
  list-style-type:none;
  display: block;
  border: 1px solid black;
  height: 75px;
  text-align: left;
  line-height: 3em;
  cursor: pointer;
  font-size: 1.5em;
}
.content-table{
  background: $TheSecondMainColor;
  margin-top: 50px;
  border: 1px solid black;
}

.content-wrapper{

  font-size: 1.1em;
  display: inline-block;
  width: 65%;
  float: right;
}
.list-wrapper{
  background: $TheFirstMainColorBlue;
  height: 700px;
  width: 30%;
  display: inline-block;
}
